services:
  # --- TON API NODE.JS ---
  app:
    image: ${IMAGE_NAME}
    restart: always
    networks:
      - web_network
      - default
    environment:
      - NODE_ENV=${ENV_TYPE}
      - POSTGRES_HOST=db
      - POSTGRES_USER=app_user
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=mydb
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - DATABASE_URL=postgresql://app_user:${DB_PASSWORD}@db:5432/mydb
      - SMTP_HOST=mailpit # L'API parle au service ci-dessous
      - SMTP_PORT=1025
    labels:
      - "traefik.enable=true"
      # Routage de l'API
      - "traefik.http.routers.${SERVICE_NAME}.rule=Host(`${DOMAIN_NAME}`)"
      - "traefik.http.routers.${SERVICE_NAME}.entrypoints=websecure"
      - "traefik.http.routers.${SERVICE_NAME}.tls.certresolver=myresolver"
      - "traefik.http.services.${SERVICE_NAME}.loadbalancer.server.port=3000"

      # Sécurité API (Rate Limit)
      - "traefik.http.middlewares.limit-api.ratelimit.average=100"
      - "traefik.http.middlewares.limit-api.ratelimit.burst=50"
      - "traefik.http.routers.${SERVICE_NAME}.middlewares=limit-api"

  # --- LA BOITE MAIL (MAILPIT) ---
  mailpit:
    image: axllent/mailpit
    restart: always
    networks:
      - web_network # Pour l'interface Web (Traefik)
      - default # Pour recevoir les mails de l'App (Interne)
    environment:
      - MP_MAX_MESSAGES=5000
      - MP_DATABASE=/data/mailpit.db
      - MP_SMTP_AUTH_ACCEPT_ANY=1
      - MP_SMTP_AUTH_ALLOW_INSECURE=1
    volumes:
      - mailpit_data:/data
    labels:
      - "traefik.enable=true"
      # On force l'usage du réseau web pour l'interface
      - "traefik.docker.network=web_network"

      # Routage de l'interface Web (emails.domaine.com)
      - "traefik.http.routers.${SERVICE_NAME}-mail.rule=Host(`emails.${DOMAIN_NAME}`)"
      - "traefik.http.routers.${SERVICE_NAME}-mail.entrypoints=websecure"
      - "traefik.http.routers.${SERVICE_NAME}-mail.tls.certresolver=myresolver"
      - "traefik.http.services.${SERVICE_NAME}-mail.loadbalancer.server.port=8025"

      # Protection par Mot de Passe
      - "traefik.http.middlewares.auth.basicauth.users=admin:$$apr1$$mTp02pz/$$JgD44iCfTvV5g6ORuzrJJ."
      - "traefik.http.routers.${SERVICE_NAME}-mail.middlewares=auth"

  # --- BASE DE DONNEES ---
  db:
    image: postgres:15-alpine
    restart: always
    networks:
      - default
    environment:
      - POSTGRES_USER=app_user
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=mydb
    volumes:
      - db_data:/var/lib/postgresql/data

  # --- CACHE ---
  redis:
    image: redis:7-alpine
    restart: always
    networks:
      - default

  # --- BACKUP ---
  db-backup:
    image: prodrigestivill/postgres-backup-local
    restart: always
    networks:
      - default
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_DB=mydb
      - POSTGRES_USER=app_user
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - SCHEDULE=@daily
      - BACKUP_KEEP_DAYS=7
      - BACKUP_KEEP_WEEKS=4
      - BACKUP_KEEP_MONTHS=6
    volumes:
      - ./backups:/backups

  # --- DB EXPLORER (ADMINER) ---
  adminer:
    image: adminer
    restart: always
    networks:
      - web_network
      - default
    environment:
      - ADMINER_DESIGN=hydra
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=web_network"
      # On garde la même URL
      - "traefik.http.routers.${SERVICE_NAME}-studio.rule=Host(`studio.${DOMAIN_NAME}`)"
      - "traefik.http.routers.${SERVICE_NAME}-studio.entrypoints=websecure"
      - "traefik.http.routers.${SERVICE_NAME}-studio.tls.certresolver=myresolver"
      - "traefik.http.services.${SERVICE_NAME}-studio.loadbalancer.server.port=8080"
      # AUTHENTIFICATION OBLIGATOIRE
      - "traefik.http.middlewares.auth.basicauth.users=admin:$$apr1$$mTp02pz/$$JgD44iCfTvV5g6ORuzrJJ."
      - "traefik.http.routers.${SERVICE_NAME}-studio.middlewares=auth"

volumes:
  db_data:
  mailpit_data: # <--- Ne l'oublie pas celui-là !

networks:
  web_network:
    external: true
